{% extends 'home/base.html' %}

{% load static %}

{% block content %}
 
<!-- Imagenes cabecera -->

<!-- <div class="text-center">
        <img src="{% static 'images/descarga1.jpg' %}" class="img-fluid" alt="Responsive image">
        <img src="{% static 'images/descarga2.jpg' %}" class="img-fluid" alt="Responsive image">
</div> -->

<!-- Detalles restaurante -->

<section class="light-bg booking-details_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-8 responsive-wrap">
                <div class="booking-checkbox_wrap">
                    <div class="booking-checkbox">
                        <h5>{{ restaurantes.nombre }}</h5>
                        <p>
                            Desde 1960 el Bungalow Suizo lo recibe con lo mejor de la cocina suiza y una atención que harán de su visita un momento para recordar y recomendar.
                        </p>
                        <p>
                        </p>
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                           <p> WI-FI: {{restaurantes.WIFI}}</p>
                        </div>
                        <div class="col-md-4">
                            <p> Permitido fumar: {{restaurantes.fumar}} </p> 
                        </div>
                        <div class="col-md-4">
                            <p> Estacionamiento: {{restaurantes.estacionamiento}}  </p> 
                        </div>
                        <div class="col-md-4">
                            <p> Acepta tarjetas: {{restaurantes.tarjetas}} </p>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="col-md-4 responsive-wrap">
                <div class="contact-info">
                    
                    <div class="address">
                        <span class="icon-location-pin"></span>
                        <p> {{ restaurantes.ubicacion}}</p>
                    </div>
                    <div class="address">
                        <span class="icon-screen-smartphone"></span>
                        <p> {{ restaurantes.telefono_restaurante }}</p>
                    </div>
                    <div class="address">
                        <span class="icon-link"></span>
                        <p> {{ restaurantes.email}}</p>
                    </div>
                    <div class="address">
                        <span class="icon-clock"></span>
                        <p> {{ restaurantes.horarios}}<br>
                            </p>
                    </div>
                    <hr>
                    <div class="reserve-btn">
                        <div class="featured-btn-wrap">
                            <a href="#reserva" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">RESERVAR MESA</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  <!-- Ventana de reservas -->
  
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Reservar</h5>
                    <button type="button d-flex justify-content-end" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="site-form" action="" method="POST">
                        {% csrf_token %} 
                        <table> {{ form.as_table }}
                            <td></td>
                            <td><button type="submit" class="btn btn-primary btn-block"> Reservar </button></td>
                        </table>             
                    </form>
                </div> 
            </div>
        </div>
    </div>


{% endblock %}