{% extends 'home/base.html' %}

{% load static %}

{% block content %}

 <!--============================= ADD LISTING =============================-->
 <section class="main-block light-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="add-listing-wrap">
                    <h2>Gracias por tu reserva</h2>
                  <p>Tu reserva Nº:3476 estara pronta el 19/03/2019 a las 20:00hrs mesa 7 </p>
                  <p>Gracias por tu eleccion </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="featured-btn-wrap">
                    <a href="{% url 'index' %}" class="btn btn-primary btn-lg">Volver</a>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <pre>
    
    
    
    
    
    
   </pre>
    </div>
<!--//END ADD LISTING -->
{% endblock %}




    