{% extends 'home/base.html' %}

{% load static %}

{% block content %}
    <!--============================= agrega contenido =============================-->
    <section class="main-block light-bg" id="menu-slider">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="add-listing-wrap">
                    <h2>Menu</h2>
                    <p>Aca podras elegir la comida que mas te guste para agregar a tu reserva </p>
                    </div>
                </div>
            </div> 
        </div>
    </section>
    {% for menu in menu %}
    <div class="container">
        <div class="row detail-checkbox-wrap">
                        <div class="col-sm-8 ">
                            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">{{menu.nombre}}</span>
                <span class="custom-control-description">{{menu.ingredientes}}</span>
                <span class="custom-control-description"><strong>Precio:</strong> {{menu.precio}}</span>
              </label>
           
            </div>

         
            </div>
        </div> 
    {% endfor %}
{% endblock %}